# dependencies
node_modules

# logs
npm-debug.log

# Nuxt build
.nuxt

# Nuxt generate
dist

# Env
.env

.vagrant

Vagrantfile

static/images/uploads/*-mobile.jpg
static/images/uploads/*-mobile.png
static/images/uploads/*.webp